/*  Personalización general  */
html{
    background: rgb(193, 213, 219);
}

html, body{
    padding:0px;
    margin:0px;
    font-size: 14px;
    font-family: Helvetica;
}

img{
    margin-top: 15px;
}
p{
    font-size: 14px;
}
h3  {
    padding-top: 15px;
}
div h3{
    color: blue;
}

h6{
    margin: 0%;
    padding: 0%;
}

img{
    padding-left: 20px;
}

/*  Personalización de la tabla de rutina  */
table {
    font-size: 12px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    margin-left: 40px;
    margin-bottom: 20px;
}

th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}

td {
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}

tr:hover td {
    background: #d0dafd;
    color: #339;
}

/*  Alineación al centro de la parte del título  */
.title_section{
    text-align: center;
}

.main_section{
    width: 1000px;
    margin: auto;
    background: #F0F0F0;
    padding: 10px;
    font: 12px Helvetica;
    margin-bottom: 50px;
}
.reloj{
    margin-bottom: 20px;
}
th{
    padding-left: 40px;
    padding-right: 25px;
}

.caract{
    columns: 2;
    column-gap: 300px;
}

.sociales{
    width: 75px;
}

